<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <ion-button (click)="onClick()" >Click me</ion-button>
  <div *ngIf="product">
      <p>{{ product.product.generic_name }}</p>
      <p>{{ product.product.allergens }}</p>
      <p><img [src]="product.product.image_front_small_url"></p>
  </div>
</ion-content>
