<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">Article</ion-label>
    <ion-input></ion-input>
    <ion-button fill="outline" 
                color="tertiary"
                slot="end"
                size="medium">+</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of articles" (click)="openAS(item)">
      <ion-icon *ngIf="item.isChecked" slot="end"
                name="checkmark-circle"
                color="success"></ion-icon>
      <span>{{ item.name }}</span>
    </ion-item>
  </ion-list>
</ion-content>
